{% load static %}
<style>
  .welcomAnimation {
    color: transparent;

    animation: effect 0.75s linear infinite;
    
}
@keyframes effect {
    0% {
        background: rgb(251, 255, 0);
        text-shadow:  0 0 10px rgb(21, 255, 0);
        -webkit-background-clip: text;
    }

    100% {
        background:rgb(21, 255, 0);
        text-shadow:  0 0 10px rgb(251, 255, 0);
        -webkit-background-clip: text;
    }
}
</style>

<nav class=" container-fluid navbar navbar-expand-lg navbar-expand-md bg-dark " style="z-index:3; position:fixed;">
  <div class="container-fluid ">
    <a class=" navbar-brand navour_icon " href="{% url 'index' %}"><span class="logoQA" style="color:green;"><svg style="position:relative; top:-4px;" xmlns="http://www.w3.org/2000/svg" width="35" height="40" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
      <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
    </svg> AQAR</span></a>
    <button class="navbar-toggler"  data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-expanded="false">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
      </svg> More
    </button>
    <div class="collapse navbar-collapse  " id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 " style="--bs-scroll-height: 100px;">

        <li class="nav-item dropdown">
          
          <a href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
          {% if 'rent' in request.path or  'buy' in request.path or  'list' in request.path %}
           class="nav-link dropdown-toggle text-white linkColor linkColorH ml-1"
          {% else %}
          class="nav-link dropdown-toggle text-white linkColorH  ml-1"
          {% endif %}
           >
            Properity
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a 
            {% if 'rent' in request.path %}
            class="dropdown-item linkColor  " 
            {% else %}
           class="dropdown-item text-white  "
            {% endif %}
            href="">Rent</a>
            <a
            {% if 'buy' in request.path %}
            class="dropdown-item linkColor   " 
            {% else %}
           class="dropdown-item text-white  "
            {% endif %}
              href="">Buy </a>
            <div class="dropdown-divider"></div>
            <a
            {% if 'list' in request.path %}
            class="dropdown-item linkColor  " 
            {% else %}
           class="dropdown-item text-white "
            {% endif %}
              href="{% url 'list' %}">List Properity</a>
          </div>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle linkColorH text-white ml-1" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if  request.user.is_authenticated %}
            <span class="welcomAnimation" style="border-bottom:2px solid green ; padding-bottom:12px ;">{{user.username}}</span>
            {% else %}
            JoinUs
            {% endif %}
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            {% if request.user.is_authenticated %}
            <p class="dropdown-item text-white" >
              <img class="rounded-circle mt-2"  {% if userphoto %}src="{{userphoto.url}}" {% endif %} width="35" height="35"  style="background-color: white; border: white 1px solid; margin-bottom: 13px;"  title="UserPhoto" >
               - {{user.username}}
            </p>
            <div class="dropdown-divider "></div>
            <a class="dropdown-item text-white " href="{% url 'profile' %}">Your Profile</a>
            <a class="dropdown-item text-white "  data-check-type="Logout" onclick="check(this);" onmouseover="this.style.cursor='pointer';" >Logout</a>
            {% else %}
            <a class="dropdown-item  text-white" href="{% url 'register' %}">Register</a>
            <a class="dropdown-item  text-white" href="{% url 'login' %}">Login </a>
            {% endif %}
          </div>
        </li>

        {% if  request.user.is_authenticated %}
        <li class="nav-item ">
          <a 
          {% if 'sell' in request.path %}
          class="nav-link linkColor linkColorH ml-1 " 
          {% else %}
         class="nav-link text-white linkColorH ml-1 "
          {% endif %}
          href="{% url 'sell' %}"><span  style="border-bottom:2px solid green ; padding-bottom:11px ;" >Sell</span></a> 
        </li>
        {% endif %}

        <li class="nav-item ">
         
          <a
          {% if 'about' in request.path %}
           class="nav-link linkColor linkColorH ml-1  " 
           {% else %}
          class="nav-link text-white linkColorH  ml-1"
           {% endif %}
           href="{% url 'about' %}">About </a>
        </li>
        {% if request.user.is_superuser %}
        <li class="nav-item ">
          <a class="nav-link text-white linkColorH  ml-1" href="http://127.0.0.1:8000/admin/">Admin </a>
        </li>
        {% endif %}

      </ul>

    <form class="form-inline btn-group ml-1 my-2 my-lg-0 py-1  " action="{% url 'list'  %}">
      <input name="title" class=" col-md-9 col-9  forhover py-1 " type="search" placeholder=" Enter Address,City or ..." aria-label="Search">
      <button class="col-md-3 col-3 forhover px-sm-2 py-1 " type="submit">   <svg style="color:rgb(60, 255, 1) ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg></button>
    </form>
    </div>
  </div>
</nav>